@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

.home {
  height: 100vh;
  position: relative;
  background: linear-gradient(120deg, rgba(234, 242, 248, 1) 0%, rgba(219, 237, 250, 1) 75%, rgba(177, 212, 237, 1) 100%);
  // background: black;

  &__photo {
    position: absolute;
    top: 8vh;
    right: 13vw;
    background: white;
    border-radius: 3px;
    padding: 15px;
    z-index: 3;


    img {
      width: auto;
      height: 80vh;
    }
  }

  &__intro {
    position: absolute;
    top: 17vh;
    left: 16vw;
    width: 42vw;
    height: 63vh;
    background: white;
    border-radius: 3px;
    z-index: 4;
    box-shadow: 5px 5px 5px 0px rgba(168, 168, 168, 0.75);
    text-align: right;
    padding: 50px 50px 40px 50px
  }

  &__name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 75px;
    font-weight: 600;
    color: $titleColor;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 90px;
  }


  &__content {
    color: $mainLightGrey;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 60px;
    font-weight: 600
  }

  &__info {
    color: $primaryColor;
    font-size: 16px;
    font-weight: 400
  }

  &__square {
    background-color: $primaryColor;
    width: 40vw;
    height: 85vh;
    position: absolute;
    right: 13vw;
    top: 8vh;
    z-index: 2;
    transform: rotate(355deg)
  }

  &__frame {
    border: 5px solid $mainDarkBlue;
    width: 50vw;
    height: 70vh;
    position: absolute;
    right: 10vw;
    top: 15vh;
    z-index: 1;
    transform: rotate(10deg)
  }
}